html, body {
  height:100%;
  background-color: #525252;
}

.logo {
  width: 90%; position: absolute; left: 30px; top: 35px; margin-left: -10px;
 }

.logo2 {
  width: 105%; position: absolute; left: -10px; top: 45px; margin-left: 0;
}

.phonelogo {
  width: 30px;  position: absolute; left: 25px; top: 35px; margin-left: 0;
}

.phonelogonumber {
  color: white; position: absolute; left: -35px; top: 40px; margin-left: 0; font-size: 14px
}



.facebook {
  width: 35px; position: absolute; left: 60px; top: 30px; margin-left: 0;
}

.instagram {
  width: 35px; position: absolute; left: 5px; top: 30px; margin-left: 0;
}

.categories {
  width: 50px; position: absolute; left: 35px; top: 30px; margin-left: 0; padding-bottom: 20px; padding-right: 10px
}

#nav ul li {
  font-size: 15px;
  list-style-type: none;
  font-weight: bold;
}

#nav ul li ul {
  position: fixed;
  top: 30px;
  width: 250px;
  left: -500px;
  float: right;
  border-bottom: none;
  border-top: none;
  z-index: 5;
  background-color: #3c3b3b;
}
#nav ul li:hover ul {
  left: auto;

  }
#nav ul li ul li a {
  background: #3c3b3b;
  color: white;
  border: none;
  margin-top: 4px;
}

#color:hover {
  color:#AFC308;
  font-size: 17px;
  font-weight: bold;
}

