

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title> Файно - Охайнo - Сеть салонов красоты Киев</title>
</head>
<body>

    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/png"/>

    <link rel="stylesheet" href="{% static "style.css" %}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!--нужно выбрать эту ссылку (//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js)
        и нажать Alt + Enter, чтобы загрузить этот файл в вашу библиотеку.-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color: aqua">
                    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/png"/>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: midnightblue">раз</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: saddlebrown">два</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: blueviolet">три</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: deepskyblue">четыри</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: cadetblue">пять</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: dodgerblue">шесть</div>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="background-color: aqua">
                Одна из трёх колонок
            </div>
            <div class="col-sm-4" style="background-color: red">
                Одна из трёх колонок
            </div>
            <div class="col-sm-4" style="background-color: green">
                Одна из трёх колонок
            </div>
        </div>
    </div>


</body>
</html>

