
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>"Файно Охайнo" - Сеть салонов красоты Киев, левый берег, Березняки</title>

    <!-- отображает значек на вкладке свйта -->
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/png"/>

    <link rel="stylesheet" href="{% static "style.css" %}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!--нужно выбрать эту ссылку (//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js)
        и нажать Alt + Enter, чтобы загрузить этот файл в вашу библиотеку.-->

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color: aqua">
                    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/png"/>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: midnightblue">раз</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: saddlebrown">два</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: blueviolet">три</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: deepskyblue">четыри</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: cadetblue">пять</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-top" style="background-color: dodgerblue">шесть</div>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="background-color: aqua">
                Одна из трёх колонок
            </div>
            <div class="col-sm-2" style="background-color: red">
                Одна из трёх колонок
            </div>
            <div class="col-sm-2" style="background-color: green">
                Одна из трёх колонок
            </div>
                <br class="row">
                    <div class="col-sm-6" style="background-color: grey">бр</div></br>
                    <div class="col-sm-6" style="background-color: green">гг</div>
                    <div class="col-sm-6" style="background-color: goldenrod">бб</div>
                </div>
        </div>
        </div>
    </div></br>

    <div class="container-fluid" style="background-color: lightgrey">
        <h1>Создал контейнер в блоке</h1>
        <p1>Текст в теге р1</p1><br/>
        <p1>Текст в теге р1</p1><br/>
        <p1>Текст в теге р1</p1><br/>
        <p1>Текст в теге р1</p1><br/>
        <p1>Текст в теге р1</p1><br/>
        <p1>Чем больше тегов, тем больше растягивается контайнер</p1><br/>

        <!-- Система сеток (Greed-System) -->

        <!-- xs - extra small - для смартфонов -->
        <!-- sm - small - для планшетов -->
        <!-- md - midle - для небольших ноутбуков -->
        <!-- xs - large - для больших екранов -->

    </div>

</body>
</html>

